
.hg
parts
eggs
bin
develop-eggs
downloads
*.egg-info
.installed.cfg
project/database.db
.DS_Store
*.pyc
.svn
.git
.Trashes
.fseventsd
.Spotlight*
.directory
*.swp
doc/build/
.mr.developer.cfg
*.orig
staticroot
mediaroot
celerybeat-schedule.db
celerybeat.pid
.cache
src/*
!src/velmu
!src/mpass
local_settings.py
