{% extends "mpass/base.html" %}
{% load i18n compress %}

{% block meta_title %}{% trans "Login" %}{{ block.super }}{% endblock %}

{% block main %}

  <div class="main-content">
    <div class="container">

      <div class="message clearfix">
        {% for auth_source in auth_sources %}
          <a href="/login/saml/?{{ auth_source.shib_auth_selection_parameter }}" class="gadget w1 h1 theme-blue">
            <div class="gadget-container">
              <div class="gadget-title">{{ auth_source.title }}</div>
              <div class="gadget-content">
                <span class="gadget-bookmark">
                  <span>
                    <img src="{{ auth_source.icon_url }}">
                  </span>
                </span>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}

