{% extends "mpass/base.html" %}
{% load i18n compress %}

{% block meta_title %}{% trans "Login" %}{{ block.super }}{% endblock %}

{% block topbar_breadcrumbs_content %}
  <span><a href="/"><img class="service-logo" src="{{ STATIC_URL }}/img/logo.png"></a></span>
  <i class="icon-angle-right"></i>
  <span>{% trans "Login" %}</span>
{% endblock %}

{% block main %}

<style>
{# Gadget style from app desktop #}
  .message {
    padding: 20px 0;
  }
  .gadget {
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .h1 {
    height: 110px;
  }
  .w1 {
    width: 110px;
  }
  .gadget-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gadget-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 27px;
    line-height: 27px;
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background-color: #FFF;
    color: #333;
    border-bottom: 3px solid #333;
  }
  .theme-blue .gadget-title {
    border-color: #245C99;
    color: #245C99;
  }
  .gadget-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px;
  }
  .gadget-bookmark {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .gadget-bookmark > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }
  .gadget-bookmark img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .gadget.h1 .gadget-bookmark img {
    max-height: 60px;
    max-width: 90px;
  }
  .topbar .breadcrumbs .service-logo {
    height: 50px; 
    display: block;
    float: left;
    margin-right: 4px;
  }
</style>

  <div class="main-content">
    <div class="container">

      <div class="message clearfix">
        {% for auth_source in auth_sources %}
          <a href="/login/saml?{{ auth_source.shib_auth_selection_parameter }}" class="gadget w1 h1 theme-blue">
            <div class="gadget-container">
              <div class="gadget-title">{{ auth_source.title }}</div>
              <div class="gadget-content">
                <span class="gadget-bookmark">
                  <span>
                    <img src="{{ auth_source.icon_url }}">
                  </span>
                </span>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}

